{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashbord_style.css' %}">
    {% block header %}
    {% endblock %}
  </head>

  <style>
    
  </style>


  <body>
    
    <nav class="navbar navbar-expand-lg " style="background-color: white;  ">

      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="home">
          <img src="{% static 'images/petshp.jpg' %}" alt="Logo" width="120" height="70" class="d-inline-block align-text-top">
  
        </a> -->
        <!-- <a href="home"><img src="{% static 'images/petshp.jpg' %}"
          style="width: 185px;" alt="logo"></a>  -->
        <a class="navbar-brand" href="home">PET SHOPPEE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                DOG
              </a>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="view_products">FOOD</a></li>
                <li><a class="dropdown-item" href="view_products">TREATS & CHEWS</a></li>
                <li><a class="dropdown-item" href="view_products">TOYS & ACCESSORIES</a></li>
                <li><a class="dropdown-item" href="view_products">HEALTH WELLNESS</a></li>
              </ul>
              
              
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="shop_by_cat" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CAT
              </a>
              <ul class="dropdown-menu">
            
                <li><a class="dropdown-item" href="view_products">FOOD</a></li>
                <li><a class="dropdown-item" href="view_products">TOYS</a></li>
                <!-- <li><hr class="dropdown-divider"></li> -->
                <li><a class="dropdown-item" href="view_products">FEEDERS</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="view_products" role="button"  aria-expanded="false">BIRDS</a>              
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="shop_by_smallpets" role="button" aria-expanded="false">SMALL PETS</a>
            </li>
            
          </ul>
          

          <div>
           
           <a href="login" class="btn"><i class="fa fa-user"></i>LOGIN</a>
           <button class="btn"><i class="fa fa-cart"></i>CART</button>

           
           <!-- <button class="bi bi-bag-fill" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="font-size:40px;"></button>             -->

          </div>  
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div> 
    </nav>
   <div>
     {% block content %} {% endblock %}
  
    </div>
    <footer class="text-center text-lg-start bg-light text-muted ">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5 ">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Company name
              </h6>
              <p>
                Here you can use rows and columns to organize your footer content. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit.
              </p>
              <p>
                Become a seller
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Need Help?
              </h6>
              <p>
                <a href="#!" class="text-reset">FAQ</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Chat With Us</a>
              </p>
                            
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Account
              </h6>
              <p>
                <a href="login" class="text-reset">Customer Login</a>
              </p>
              <p>
                <a href="{% url 'app_seller:login' %}" class="text-reset">Seller Login</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Your Orders</a>
              </p>
              
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@petshop.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Petshop.com</a>
      </div>
      <!-- Copyright -->
    </footer>

   
      
  </body>
</html>