{% extends 'app_seller/dashboard.html' %} {% block content %}

{% load static %}


<div class="container-fluid">
  <div class="row">
    
    {% for products in prddet %}

    
    <div class="col-md-3 col-6">
    <div class="card" style="width: 18rem;">  
        <img src="{{products.product_image.url}}" class="card-img-top " alt="...">
          <div class="card-body">
          <h5 class="card-title">{{products.product_name}}</h5>
          <p class="card-text">{{products.weight}}</p>
          <p class="card-text">price:{{products.product_price}}</p>
          <p class="card-text">{{products.description}}</p>
          <a href="#" class="btn btn-outline-success ">add to cart</a>
          <a href="#" class="btn btn-outline-danger">buy now</a>
        </div>
    </div>
    </div>
   
    {% endfor %}
  </div>
    
</div>


{% endblock %}