.gradient-custom-2 {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-image: url('https://media.istockphoto.com/vectors/dog-walking-rules-during-quarantine-owner-girl-or-sitter-in-a-sterile-vector-id1215552956?k=20&m=1215552956&s=612x612&w=0&h=Pfvvt8j-na-6VEx9isS_cDA7hn5_wEk8aoQZi4U1iI4=');
     }